# Terraform state and backup files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform plan files
*.tfplan


# Terraform lock file
.terraform.lock.hcl

# .terraform directory
.terraform/

# Logs or debug output
*.log

values-me.tfvars
